<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enter the Thunderdome</title>
    <link rel ='stylesheet' href='/style.css'>
  </head>
  <body>
        <h1><a href="/">Welcome</a></h1>
    <%= yield %>
    <div class="photo">
  <figure class="photo-item">
    <img src="https://www.google.co.uk/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwivg4XDg43aAhVCOxQKHfmBBSwQjRx6BAgAEAU&url=https%3A%2F%2Fwww.azernews.az%2Fnation%2F97022.html&psig=AOvVaw1q7ap_37G5_6AL6irkxAWU&ust=1522258111954631" style="width:500px;height:400px;">
  </figure>
  </body>
</html>
