
    <h1>A Few Rules First</h1>

    <p>Using their hands, opponents will deliver either rock, scissors or paper. We will decide the winner. Choose carefully. Two hands enter, only one hand leaves.</p>
