body {

background-color: yellow;
font-family: 'Arial';
background-position: center top;
text-align: center;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.photo-item {
  border: 5px solid #000000;
  margin: 20px;

}
